:root {
    --transparent-bg: rgba(60, 60, 60, 0.4);
    --bulma-primary: hsl(171, 100%, 41%)
}

body {
    height: 100vh;
}

section {
    background-color: var(--transparent-bg);
    border-radius: 0 .25rem .25rem .25rem;
}

nav {
    border-bottom: none !important;
}

#nav-mobile {
    display: none;
}

.custom-btn {
    background-color: var(--transparent-bg);
    border: none;
}

.custom-btn:hover {
    background-color: rgba(60, 60, 60, 0.6);
}

.active {
    background-color: rgba(60, 60, 60, 0.8);
}

.card-body {
    overflow: hidden;
    clear: both;
}

.card-body img {
 max-width: 100%;
 height: auto;
}

.hide {
    display: none !important;
}

@media screen and (max-width: 768px) {

    body {
        height: auto;
    }
    
    #nav-desktop {
        display: none;
    }

    #nav-mobile {
        display: flex;
    }
}